.bundle
db/*.sqlite3
log/*.log
tmp/**/*
.DS_Store
vendor/bundled_gems
vendor/cache
config/application.yml
doc/*.html
vendor/*/doc/*.html
vendor/*/doc/files/*.html
vendor/*/doc/classes
vendor/*/doc/*.rid
vendor/*/doc/*.css
vendor/*/bundled_gems
vendor/aq_sh/development.sqlite3
vendor/aq_sh/config/application.yml
