* {
	margin: 0;
	padding: 0;
}

body {
	background: #222;
}
#main {
	width: 95%;
	margin-right: auto;
	margin-left: auto;
	background: #FFF;
	border-right: 1px solid #888;
	border-left: 1px solid #888;
	border-bottom: 1px solid #888;
}

#content {
	padding: 20px;
}

#login {
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	padding: 3px;
	text-align: right;
	width: 30%;
	background: #DDD;
	border: 1px solid #999;
	font-family: monospace;
}

#login a {
	text-decoration: none;
	font-weight: bold;
}

input, textarea {
	background: #FFF;
	border: 1px solid #CCC;
	margin: 5px;
	padding: 2px;
}

#root {
	float: left;
	margin-top: 15px;
	margin-left: 30%;
	background: #DDD;
	border: 1px solid #999;
	padding: 10px 10px 5px 10px;
}
#root img {
	width: 32px;
}

div.clear {
	clear: both;
}