* {
	margin: 0;
	padding: 0;
}

body {
	background: #222;
}

#icon {
	float: left;
	width: 35px;
}

#icon img {
	width: 60px;
	margin-left: 20px;
	margin-top: 20px;
}

#main {
	width: 95%;
	margin-right: auto;
	margin-left: auto;
	background: #FFF;
	border-right: 1px solid #888;
	border-left: 1px solid #888;
	border-bottom: 1px solid #888;
}

#content {
	padding: 20px;
}

#login {
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	padding: 3px;
	text-align: right;
	width: 30%;
	background: #DDD;
	border: 1px solid #999;
	font-family: monospace;
}

#login a {
	text-decoration: none;
	font-weight: bold;
}

input, textarea {
	background: #FFF;
	border: 1px solid #CCC;
	margin: 5px;
	padding: 2px;
}

#root {
	float: left;
	margin-top: 15px;
	margin-left: 30%;
	background: #DDD;
	border: 1px solid #999;
	padding: 10px 10px 5px 10px;
}
#root img {
	width: 32px;
}

div.clear {
	clear: both;
}

#content div#repositories {
	width: 40%;
}
#content div.repository {
	margin-left: 15px;
	border-bottom: 2px solid #999;
	margin-bottom: 10px;
}
#content div.repository span.img {
	float: left;
	margin: 10px;
}
#content div.repository p {
	font-size: 12px;
}
#content div.repository h3 {
	font-size: 16px;
}
#content div.repository h3 a {
	text-decoration: none;
	color: #1d5794;
	font-family: monospace;
}

#content div.repository h3 a:hover {
	text-decoration: underline;
}

#content div#sshkeys {
	width: 40%;
	margin-left: 20px;
}

#content div.sshkey {
	margin-top: 10px;
}

#content div.sshkey a {
	text-decoration: none;
	color: #1d5794;
	font-family: monospace;
}

#content div.sshkey a:hover {
	text-decoration: underline;
}

#content div.sshkey {
	width: 80%;
}
#content div.sshkey p.sshkey {
	width: 70%;
	margin-left: 20px;
	font-size: 10px;
	font-family: monospace;
	border: 1px solid #999;
	background: #DDD;
	padding: 5px;
}

#content div#user {
	margin-bottom: 20px;
}

#content div.committer {
	margin-bottom: 10px;
}

#content div#repository {
	width: 40%;
}

div.desc {
	margin-bottom: 20px;
}

#content p.desc {
	margin-top: 10px;
	margin-bottom: 5px;
}

#content p.members {
	margin-top: 3px;
}

#content div.beans {
	margin-bottom: 20px;
}