* {
	margin: 0;
	padding: 0;
}

body {
	background: #222;
}

#top_bar {
	background: #DDD;
	width: 80%;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	padding-left: 30px;
	border-bottom: 1px solid #EEE;
	border-top: 1px solid #FFF;
}

#sub_bar {
	background: #222;
	color: #DDD;
	padding: 10px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#sub_bar a {
	font-family: monospace;
	text-decoration: none;
	font-weight: bold;
	color: #DDD;
}

#sub_bar a:hover {
	color: #FFF;
}

#sub_left {
	width: 65%;
}

#sub_bar #user_stuff {
	margin-left: 40px;
}

#sub_bar #user_stuff a {
	margin-left: 20px;
}


#sub_right {
	float: right;
	padding: 3px;
	text-align: right;
	width: 30%;
	font-family: monospace;
}

#sub_right a {
	text-decoration: none;
	font-weight: bold;
}


#main {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	background: #222;
	border-top: 1px solid #444;
	border-bottom: 1px solid #DDD;
	padding: 0;
}

#content {
	width: 80%;
	padding: 0;
	margin-right: auto;
	margin-left: auto;
}

input, textarea {
	background: #FFF;
	border: 1px solid #CCC;
	margin: 5px;
	padding: 2px;
}

#img_banner {
	border: 1px solid #DDD;
	width: 100%;
	background: #888;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 0;
	margin-right: 0;
	padding: 20px;
}

#img_banner p {
	font-size: 16pt;
	color: #FFF;
	font-family: times;
}

#root {
	float: left;
	margin-top: 15px;
	margin-left: 30%;
	background: #DDD;
	border: 1px solid #999;
	padding: 10px 10px 5px 10px;
}
#root img {
}

#root a {
}

#root a:hover {
	color: #1d5794;
}

div.clear {
	clear: both;
}

#content #left_content {
	float: left;
	width: 48%;
	margin-left: 0;
}

#content #right_content {
	float: right;
	width: 48%;
	margin-right: 0;
}


#left_content #intro_text, #commits, #repositories h2 {
	background: #000;
	padding: 10px;
	color: #EEE;
}

#left_content #commits {
	margin-top: 10px;
}

#content div#repositories {
}
#content div.repository {
	margin-left: 15px;
	border-bottom: 2px solid #999;
	margin-bottom: 10px;
}
#content div.repository span.img {
	float: left;
	margin: 10px;
}
#content div.repository p {
	font-size: 12px;
}
#content div.repository h3 {
	font-size: 14px;
	font-family: monospace;
}
#content div.repository h3 a {
	text-decoration: none;
	color: #1d5794;
	font-family: monospace;
	font-size: 16px;
}

#content div.repository h3 a:hover {
	text-decoration: underline;
}

#content div#sshkeys {
	width: 40%;
	margin-left: 20px;
}

#content div.sshkey {
	margin-top: 10px;
}

#content div.sshkey a {
	text-decoration: none;
	color: #1d5794;
	font-family: monospace;
}

#content div.sshkey a:hover {
	text-decoration: underline;
}

#content div.sshkey {
	width: 80%;
}
#content div.sshkey p.sshkey {
	width: 70%;
	margin-left: 20px;
	font-size: 10px;
	font-family: monospace;
	border: 1px solid #999;
	background: #DDD;
	padding: 5px;
}

#content div#user {
	margin-bottom: 20px;
}

#content div.committer {
	margin-bottom: 10px;
}

#content div#repository {
	width: 40%;
}

div.desc {
	margin-bottom: 20px;
}

#content p.desc {
	margin-top: 10px;
	margin-bottom: 5px;
}

#content p.members {
	margin-top: 3px;
}

#content div.beans {
	margin-bottom: 20px;
}