<h1><%= t(:users) %></h1>
<div id="users">
	<ul>
	<% for user in @users %>
		<li><%= link_to user.login, user %> <%= button_to t(:user_del), user, :confirm => t(:confirm_ask), :method => :delete %></li>
	<% end %>
	</ul>
	<%= link_to t(:user_new), new_user_path %>
</div>