<h1><%= t(:users) %></h1>
<div id="users">
	<ul>
	<% for user in @users %>
		<li>
			<%= link_to user.login, user %>
			<%= link_to t(:user_del), user, {:method => :delete, :confirm => t(:ask_confirm), :title => t(:user_del) }%>
		</li>
	<% end %>
	</ul>
	<%= link_to t(:user_new), new_user_path %>
</div>