# app/config/application.yml
defaults: &defaults
  application:
    name: III Aquarii
    contact: some@email.bx
    hostname: localhost
    root_dir: /home
    repo_user: aq_git
    repo_git_path: git
    repo_hg_path: hg
    have_public_clone: false
    aq_shell: aquarii-lib/aquarii-sh.rb
  logs:
    email: email.log
    scm: scm.log


development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults

