<h1>
	<%= t(:repositories) %>
	<% if current_user %>
		<%= link_to image_tag("/images/icons/big/dbplus2.png", :title => t(:repo_new), :alt => t(:repo_new), :border => 0, :width => "30px"), {:action => "new"}%>
	<% end %>
</h1>
<div id="repositories">
	<%= render "application/repositories", :repositories => @repositories %>
</div>