<h1>
	<%= t(:repositories) %>
	<% if current_user %>
		<%= link_to image_tag("/images/icons/big/dbplus2.png", :title => t(:repo_new), :alt => t(:repo_new), :border => 0, :width => "30px"), {:action => "new"}%>
	<% end %>
</h1>
<div id="repositories">
	<% for repo in @repositories %>
		<div class="repository">
			<h3>
				<%= link_to repo.name, repo %>
			</h3>
			<div class="desc">
				<span class="img"><%= image_tag("/images/icons/big/drives_11.png", :border => 0) %></span>
				<p>blah</p>
				<div class="clear"></div>
			</div>
		</div>
	<% end %>
</div>