<div id="repository">
  <%= render "infos", :repository => @repository %>

<div class="repository">
  <%= render "people", :repository => @repository %>

  <%= render "desc", :repository => @repository %>

  <div id="view_file">
		<% if @repository.branches.size != 0 %>
		<% branch = "master" %>
	  <% branch = params[:branch] if params[:branch] %>
		<% root_dir = "" %>
    <% root_dir = params[:path] + "/" if params[:path] %>
    <% root_dir = (Pathname(root_dir) + "..").to_s %>
    <% if root_dir == "." %>
      <% root_dir = "" %>
    <% end %>
    <% tree = @grit_repo.tree(branch, root_dir) %>
    <% if params[:path] %>
      <% blobs = tree.blobs %>
      <% if blobs %>
        <% blobs.each do |a_blob| %>
          <% if a_blob.name == params[:path].split("/").last %>
            <% if a_blob.mime_type =~ /^(text)\/(.*)$/ %>
 <pre><%= a_blob.data %></pre>
          <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
	</div>

	<div class="clear"></div>
</div>
</div>
