
<div id="img_banner">
	<p>
		We shall commit this.
	</p>
</div>

<div id="left_content">
	<div id="intro_text">
		<p>Loren ipsum osts our open-source projects and is a place for developers, but also targets anyone that want to get their hands dirty. Much of the work around these projects happen in community forums</p>
	</div>

	<div id="commits">
		<h2>Latest commits</h2>
		<% for commit in @commits.first(10) %>
			<%= render "short_commit", :commit => commit %>
		<% end %>
	</div>	
</div>

<div id="right_content">
	<div id="repositories">
		<h2>Repositories</h2>
		<% if is_even?(@repositories.size) %>
			<% max = @repositories.size %>
		<% else %>
			<% max = @repositories.size - 1 %>
		<% end %>
		<% max = 30 if max > 30 %>
		<% @repositories.first(max).each_slice(2) do |rep1,rep2| %>
			<%= render "short_repositories", :rep1 => rep1, :rep2 => rep2 %>
		<% end %>
	</div>
</div>

<div class="clear"></div>
